h1,h2,h3{
    font-family: 'PT Serif', serif;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    line-height: 1;    
}

h1 {
    font-size: 3.5rem;
}

.whitecolor {
    color: #ffffff;
}


/* Helper Classes & Shorcodes */

.padding {
    padding: 8.75rem 0;
}
.padding_top {
    padding-top:8.75rem;
}
.padding_bottom {
    padding-bottom: 8.75rem;
}
.margin_bottom {
    margin-bottom: 8.75rem;
}
.margin_top {
    margin-top: 8.75rem;
}
.padding_half {
    padding: 4.375rem 0;
}
.padding_bottom_half {
    padding-bottom: 4.375rem;
}
.margin_bottom_half{
    margin-bottom: 4.375rem;
}
.padding_top_half {
    padding-top: 4.375rem;
}
.heading_space {
    margin-bottom: 4.6875rem;
}
.bottom5 {
    margin-bottom: 5px;
}
.bottom10 {
    margin-bottom: 10px;
}
.top10 {
    margin-top: 10px;
}
.bottom15 {
    margin-bottom: 15px;
}
.top15 {
    margin-top: 15px;
}
.top20 {
    margin-top: 20px;
}
.bottom20 {
    margin-bottom: 20px;
}
.bottom25 {
    margin-bottom: 25px;
}
.top25 {
    margin-top: 25px;
}
.bottom30 {
    margin-bottom: 30px;
}
.top30 {
    margin-top: 30px;
}
.bottom35 {
    margin-bottom: 35px;
}
.top40 {
    margin-top: 40px;
}
.bottom40 {
    margin-bottom: 40px;
}
.bottom45 {
    margin-bottom: 45px;
}
.top50 {
    margin-top: 50px;
}
.top60{
    margin-top: 60px;
}
.bottom60{
    margin-bottom: 60px;
}
.bottom0 {
    margin-bottom: 0;
}
.nomargin {
    margin: 0;
}
.nopadding{
    padding: 0;
}
.bglight {
    background: #f8f8f8;
}
.bgdefault {
    background: #ef233c;
}
.whitecolor {
    color: #ffffff;
}
.darkcolor {
    color: #414141;
}
.blackcolor{
    color: #000000;
}
.defaultcolor {
    color: #ef233c;
}
section {
	position: relative;
	z-index: 1;
	background: #fff;
}
.container{
    width: 1170px;
    max-width: 100%;
}
.container-padding{
    padding-left: 5.625rem;
    padding-right: 5.625rem;
}

/*heading text / intro blocks */
.heading-title{
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #ef233c;
    line-height: 1;
}
.whitecolor.heading-title{
    color: #fff;
}
.darkcolor.heading-title{
    color: #414141;
}
.heading-title::before {
  background: #ef233c;
  content: "";
  display: inline-block;
  height: 2px;
  margin-right: 1rem;
  margin-top: -1px;
  vertical-align: middle;
  width: 20px;
}
.whitecolor.heading-title::before{
    background:#fff; 
}
.darkcolor.heading-title::before{
    background: #414141;
}

