<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/index.css">

  <script src="/components/header.js" type="text/javascript"></script>
  <script src="/components/whatsapp.js" type="text/javascript"></script>
  <title>Leaflets example</title>
</head>


<body>
  <header-component></header-component>

  <main>
    <div class="has-text-centered bottom10">
      <h2 class="title is-1 main-title">FungiPackage</h2>
    </div>
    <div class="columns is-mobile is-centered padding">
      <div class="column has-text-centered container">  
        <img src="images/mainBanner.png" alt="Wine Field">
        <div class="content has-text-centered centered banner-text">
          Somos un emprendimiento chileno dedicado a darle un uso útil y sustentable a los residuos de los
          procesos agricolas.
        </div>
      </div>
    </div>
    <div class="columns is-mobile is-centered padding">
      <div class="column has-text-centered">
        <div class="content is-large has-text-justified">
          ¿Cómo lo hacemos?
          <br>
        </div>
        <div class="content is-medium has-text-justified">
          Nuestro porducto nace a partir de un proceso biológico natural, la colonización de hongos. A través de este proceso residuos como el escobajo de los racimos de uvas o los
          residuos de la poda se transforman en un empaque resistente que puede ser utilizado para transportar y cuidar
          tus productos.
          <br>
        </div>
        <div class="content is-medium has-text-justified">
          FungiPackage genera un material 100% compostable que puede ser utilizado para nutrir la tierra, y no se
          acumula en el medio ambiente.
          <br>
        </div>
        <div class="content is-medium has-text-justified">
          Hoy en día, la acumulación de empaques tradicionales en los ecosistemas y
          paisajes naturales generan un fuerte impacto en la contaminación del planeta. Nuestra solución es eliminar materiales como plumavit del mercado. Esto, mediante la
          produccion de un producto con las mismas propiedades fisicas, a un menor precio y que pueda ser re incorporado al ciclo natural de degradación.
          <br>
        </div>
        <div class="content is-medium has-text-justified">
          Si eres un productor agricola te invitamos a sumarte a nuestra misión, tus residuos son la materia prima de
          nuestro negocio. Al entregarnos tus residuos o comprarnos nuestros productos ya eres parte.
        </div>
      </div>
      <div class="column has-text-centered">
        <img class="index-image" src="images/0.jpg" alt="Wine Field">
      </div>
    </div>
    <whatsapp-component></whatsapp-component>
  </main>

</body>

</html>