<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/index.css">

  <script src="/components/header.js" type="text/javascript"></script>
  <script src="/components/whatsapp.js" type="text/javascript"></script>
  <title>Leaflets example</title>
</head>


<body>
  <header-component></header-component>

  <main>
    <h2 class="">FungiPackage Locations nosotros</h2>
    <button class="button is-info">Info</button>
    <whatsapp-component></whatsapp-component>
  </main>

</body>

</html>